<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating a new issue</title>
</head>
<body>
<form th:method="POST" th:action="@{/ui/issue}" th:object="${issue}">
    <label for="bookId">Enter bookId: </label>
    <input type="text" th:field="*{bookId}" id="bookId"/>
    <label for="readerId">Enter readerId: </label>
    <input type="text" th:field="*{readerId}" id="readerId"/>
    <br/>
    <input type="submit" value="Create issue">
</form>

</body>
</html>